{% extends 'base.html.twig' %}

{% block title %}Hello {{categorie.nom}}!{% endblock %}

{% block body %}
<h1>{{categorie.nom}}</h1>

<div class="container">
    <div class="row">
        {% for sousCategorie in categorie.sousCategories %}
   

        <div class="card" style="width: 18rem;">
        <img src={{sousCategorie.image}} class="card-img-top" alt="...">
            <div class="card-body">
         <a href="/produits/{{ sousCategorie.id}}"><h5 class="card-title">{{ sousCategorie.nom }}</h5></a>
            
    </div>
    </div>
           
        {% endfor %}
    </div>
</div>
{% endblock %}